---
- name: Ensure mongodump is installed
  ansible.builtin.package:
    name: mongodb-database-tools
    state: present
  become: true

- name: Create local backup directory
  ansible.builtin.file:
    path: /tmp/mongodb_backup
    state: directory
    mode: '0755'
    
- name: Create MongoDB dump with a unique name
  ansible.builtin.shell: |
    mongodump --uri "mongodb://{{ ansible_host }}:27017" --archive=/tmp/mongodb-backup-{{ ansible_date_time.iso8601_basic_short }}.gz
  register: backup_file_info
  become: true
  
- name: Upload MongoDB backup to Backblaze B2
  ansible.builtin.command: |
    b2 upload-file {{ lookup('env', 'BACKBLAZE_BUCKET_NAME') }} {{ backup_file_info.stdout }} {{ backup_file_info.stdout | basename }}
  environment:
    BACKBLAZE_APPLICATION_KEY_ID: "{{ lookup('env', 'BACKBLAZE_APPLICATION_KEY_ID') }}"
    BACKBLAZE_APPLICATION_KEY: "{{ lookup('env', 'BACKBLAZE_APPLICATION_KEY') }}"
    
- name: Clean up local backup directory
  ansible.builtin.file:
    path: /tmp/mongodb_backup
    state: absent
  become: true