---
- name: Ensure MongoDB service is running
  ansible.builtin.service:
    name: mongod
    state: started
  become: true

- name: Ensure mongodump and b2 are installed
  ansible.builtin.package:
    name:
      - mongodb-database-tools
      - backblaze-b2 #package name for the Backblaze B2 command-line differs based on OS
    state: present
  become: true

- name: Find the b2 executable path
  ansible.builtin.shell: find / -name b2 -type f -perm /111 2>/dev/null
  become: false
  register: b2_path
  changed_when: false

- name: Create local backup directory
  ansible.builtin.file:
    path: /tmp/mongodb_backup
    state: directory
    mode: '0755'
    
- name: Create MongoDB dump with a unique name
  ansible.builtin.shell: |
    mongodump --uri "mongodb://{{ ansible_host }}:27017" --archive=/tmp/mongodb-backup-{{ ansible_date_time.iso8601_basic_short }}.gz
  register: backup_file_info
  become: true

- name: Upload MongoDB backup to Backblaze B2
  ansible.builtin.command: |
    {{ b2_path.stdout }} upload-file {{ lookup('env', 'BACKBLAZE_BUCKET_NAME') }} {{ backup_file_info.stdout }} {{ backup_file_info.stdout | basename }}
  environment:
    B2_APPLICATION_KEY_ID: "{{ lookup('env', 'BACKBLAZE_APPLICATION_KEY_ID') }}"
    B2_APPLICATION_KEY: "{{ lookup('env', 'BACKBLAZE_APPLICATION_KEY') }}"
  become: true

- name: Clean up local backup directory
  ansible.builtin.file:
    path: /tmp/mongodb_backup
    state: absent
  become: true