---
- name: Check if MongoDB is running
  ansible.builtin.service:
    name: mongod
    state: started
  become: true
  
- name: Create a test database and a collection with documents
  community.mongodb.mongodb_shell:
    db: testdb
    eval: 'db.testcollection.insertMany([{ name: "ansible_test_data", value: 100 }, { name: "another_test_doc", value: 200 }])'
  become: true

- name: Verify data insertion using a direct shell command
  ansible.builtin.command: mongosh --quiet --eval 'db.testcollection.countDocuments({})'
  become: true
  register: count_result
  failed_when: count_result.stdout | int == 0