---
# This task ensures the Redis service is active 
# before any attempt to save or backup the data.
- name: Ensure Redis service is running
  ansible.builtin.service:
    name: redis-server
    state: started
  become: true

# This task ensures the Backblaze B2 CLI is installed on the host.
- name: Ensure backblaze-b2 is installed
  ansible.builtin.package:
    name: backblaze-b2
    state: present
  become: true

# This command instructs Redis to save a snapshot of the database to disk in the background.
- name: Trigger Redis BGSAVE (Background Save)
  ansible.builtin.command: redis-cli BGSAVE
  changed_when: true
  become: true
  register: bgsave_result

# This task checks the Redis configuration to determine the exact directory where the dump.rdb file is saved.
- name: Get Redis configuration directory (dir)
  ansible.builtin.command: redis-cli CONFIG GET dir
  register: redis_dir_output
  changed_when: false
  become: true

# This variable extracts the directory path from the command output.
- name: Set Redis data directory fact
  ansible.builtin.set_fact:
    redis_data_dir: "{{ redis_dir_output.stdout_lines[1] | trim }}"

# This task finds the dump.rdb file in the determined Redis data directory.
- name: Find the dump.rdb file
  ansible.builtin.find:
    paths: "{{ redis_data_dir }}"
    patterns: 'dump.rdb'
    age: '-10m' # Ensure we only find a file recently created (within the last 10 minutes), increase the time if the backup takes more than 10 minutes to complete.
  register: rdb_file_info

# This task uploads the Redis RDB file to Backblaze B2 with a unique, timestamped filename.
- name: Upload Redis RDB backup to Backblaze B2
  ansible.builtin.shell: |
    BACKUP_FILE="{{ rdb_file_info.files[0].path }}"
    TIMESTAMP="{{ ansible_date_time.iso8601_basic_short }}"
    FILENAME="redis-backup-${TIMESTAMP}.rdb"
    
    /usr/bin/backblaze-b2 authorize-account {{ lookup('env', 'BACKBLAZE_APPLICATION_KEY_ID') }} {{ lookup('env', 'BACKBLAZE_APPLICATION_KEY') }} && \
    /usr/bin/backblaze-b2 upload-file "nebatn" "${BACKUP_FILE}" "${FILENAME}"
  become: true
  # Only run if a dump.rdb file was found
  when: rdb_file_info.files | length > 0 

# This task removes the temporary local dump.rdb file from the Redis data directory to clean up the workspace.
- name: Clean up local RDB file
  ansible.builtin.file:
    path: "{{ rdb_file_info.files[0].path }}"
    state: absent
  become: true
  when: rdb_file_info.files | length > 0