---
- name: Ensure mongorestore is installed
  ansible.builtin.package:
    name:
      - mongodb-database-tools
    state: present
  become: true

- name: Ensure b2 is installed for Backblaze download
  ansible.builtin.package:
    name: backblaze-b2
    state: present
  become: true

- name: Create local restore directory
  ansible.builtin.file:
    path: /tmp/mongodb_restore
    state: directory
    mode: '0755'
  become: true
  
- name: Authorize Backblaze B2 CLI
  ansible.builtin.shell: |
    /usr/bin/backblaze-b2 authorize-account {{ lookup('env', 'BACKBLAZE_APPLICATION_KEY_ID') }} {{ lookup('env', 'BACKBLAZE_APPLICATION_KEY') }}
  become: true

- name: List files in the Backblaze bucket for debugging
  ansible.builtin.shell: |
    /usr/bin/backblaze-b2 ls nebatn
  become: true
  register: b2_ls_output

- name: Print bucket list for debugging
  ansible.builtin.debug:
    var: b2_ls_output.stdout_lines

- name: Find the most recent backup file in the Backblaze bucket
  ansible.builtin.shell: |
    /usr/bin/backblaze-b2 ls nebatn | tail -1 | awk '{print $2}'
  become: true
  register: latest_backup_file_id

- name: Download the latest backup from Backblaze B2 using file ID
  ansible.builtin.shell: |
    /usr/bin/backblaze-b2 download-file-by-id "{{ latest_backup_file_id.stdout | trim }}" /tmp/mongodb_restore/backup.gz
  become: true
  register: download_result
  failed_when: "'checksum matches' not in download_result.stdout"

- name: Restore MongoDB from the downloaded backup
  ansible.builtin.shell: |
    mongorestore --uri "mongodb://{{ ansible_host }}:27017" --drop --gzip --archive=/tmp/mongodb_restore/backup.gz
  become: true

- name: Clean up local restore directory
  ansible.builtin.file:
    path: /tmp/mongodb_restore
    state: absent
  become: true