---
all:
  children:
    mongodb_servers:
      hosts:
        3.80.216.196: 
          ansible_user: ubuntu

    redis_servers:
      hosts:
        13.14.15.16:
          ansible_user: ubuntu

    ec2:
      hosts:
        54.167.17.162:
          ansible_user: ubuntu 
        18.193.125.21:
          ansible_user: ubuntu