---
all:
  children:
    
    redis_servers:
      hosts:
        54.226.188.99:
          ansible_user: ubuntu

    #mongodb_servers:
    #  hosts:
    #    3.80.216.196: 
    #      ansible_user: ubuntu

    #ec2:
    #  hosts:
    #    54.167.17.162:
    #      ansible_user: ubuntu 
    #    18.193.125.21:
    #      ansible_user: ubuntu