---
all:
  children:
    
    redis_servers:
      hosts:
        54.146.255.218: 
          ansible_user: ubuntu

    #mongodb_servers:
    #  hosts:
    #    54.146.255.218: 
    #      ansible_user: ubuntu

    #ec2:
    #  hosts:
    #    54.167.17.162:
    #      ansible_user: ubuntu 
    #    18.193.125.21:
    #      ansible_user: ubuntu