---
- name: Backup MongoDB instances
  hosts: mongodb_servers  # <-- New host group
  become: yes
  roles:
    - mongodb_backup

- name: Backup Redis instances
  hosts: redis_servers    # <-- New host group
  become: yes
  roles:
    - redis_backup

- name: Apply EC2 instance configurations
  hosts: ec2
  become: yes
  roles:
    - ec2_user_mgmt

#- name: Enforce AWS API policies
  #hosts: localhost
  #connection: local
  #gather_facts: yes
  #roles:
    #- s3_policy_enforcement

