--- 
# - name: Set up MongoDB database with test data
  #hosts: mongodb_servers
  #become: yes
  #tags:
  #  - db_setup
  #roles:
  #  - db_setup

#- name: Backup MongoDB instances
#  hosts: mongodb_servers  # <-- New host group
#  become: yes
#  roles:
#    - mongodb_backup

- name: Set up Redis database
  hosts: redis_servers # <-- New host group
  become: yes
  roles:
    - redis_setup
  tags:
    - redis_setup

# ... existing plays for mongodb_setup and redis_setup ...

- name: Backup Redis instances
  hosts: redis_servers    # <-- New host group
  become: yes
  roles:
    - redis_backup
  tags:
    - redis_backup # Optional tag, but good practice



#- name: Apply EC2 instance configurations
  #hosts: ec2
  #become: yes
  #roles:
    #- ec2_user_mgmt

#- name: Enforce AWS API policies
  #hosts: localhost
  #connection: local
  #gather_facts: yes
  #roles:
    #- s3_policy_enforcement

