--- 
- name: Set up MongoDB database with test data
  hosts: mongodb_servers
  become: yes
  tags:
    - db_setup
  roles:
    - db_setup


- name: Set up secure SSH Tunnel for MongoDB
  hosts: localhost
  gather_facts: false
  roles:
    - tunnel_management # ESTABLISHES the tunnel and SETS the PID fact.

- name: Backup MongoDB instances
  hosts: mongodb_servers  # <-- New host group
  become: yes
  roles:
    - mongodb_backup_ssh
  tags:
    - mongodb_backup

- name: Tear down SSH Tunnel
  hosts: localhost
  gather_facts: false
  tasks:
    - name: Trigger the tunnel teardown handler
      ansible.builtin.include_role:
        name: tunnel_management
        # This points to a simple task file that will explicitly notify the handler.
        tasks_from: teardown_trigger.yml

#- name: Set up Redis database
#  hosts: redis_servers # <-- New host group
#  become: yes
#  roles:
#    - redis_setup
#  tags:
#    - redis_setup



#- name: Backup Redis instances
#  hosts: redis_servers    # <-- New host group
#  become: yes
#  roles:
#    - redis_backup
#  tags:
#    - redis_backup # Optional tag, but good practice



#- name: Apply EC2 instance configurations
  #hosts: ec2
  #become: yes
  #roles:
    #- ec2_user_mgmt

#- name: Enforce AWS API policies
  #hosts: localhost
  #connection: local
  #gather_facts: yes
  #roles:
    #- s3_policy_enforcement

